@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'Montserrat', 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

/* Background video */
#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    object-fit: cover;
    background-color: #041F3D;
}

h1, h2 {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: white; /* Adjust color to stand out against the video */
}

img {
    height: 200px;
    width: 200px;
    filter: none; /* Make sure no CSS filter is applied */
    opacity: 1; /* Ensure full opacity */
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media-links img {
    height: 50px;
    width: 50px;
    margin: 0 10px;
    filter: none; /* Make sure no CSS filter is applied */
    opacity: 1; /* Ensure full opacity */
}

/* Ensure body height takes full viewport height */
html, body {
    height: 100%;
    margin: 0;
}
